.page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

h1{
  position: relative;
  z-index: 1;
  margin: 0 auto 50px;
  text-align: center;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    background-color:#FFFFFF;
    height: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

ul {
    list-style-type: none;
    margin: 10;
    background-color: #f2f2f2;
}

li button {
  font-family: "EB Garamond";
  background: #81D5FE;
  width: 30.33%;
  color: #FFFFFF;
  font-size: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "EB Garamond";
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 45px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "EB Garamond";
  text-transform: uppercase;
  outline: 0;
  background: #005BA1;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
}

body {
  background: #81D5FE;
  font-family: "EB Garamond";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 1200px;
  height: 80vh;
  display: flex;
}

.status {
  width: 33%;
  background-color: #f3f3f3;
  position: relative;
  padding: 60px 1rem 0.5rem;
}

.status:nth-child(even) {
  background-color: #e9e9e96b;
}

.status h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343434;
  color: #f3f3f3;
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

#add_btn {
  padding: 0.5rem 1rem;
  background-color: #ccc;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover {
  background-color: #aaa;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  transition: all 0.5s;
}

.todo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}

.todo::hover::before{
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.todo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.todo:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.todo .close {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.todo .close:hover {
  color: #343444;
}

/* modal */

.close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 15%;
}

.modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
  padding: 0.75rem;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
  display: block;
}

#todo_input,
#todo_submit {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#todo_submit {
  background-color: #4caf50;
  color: #f3f3f3;
  font-size: 1.25rem;
  border: none;
}

